EAIOpdracht2/two/target/classes/two.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="b8ac389b-d8e9-4b79-abc6-4e464d62ce5a" >
		<wsc:connection wsdlLocation="http://localhost:8888/ODOOServices?wsdl" service="ODOO_APIService" port="ODOO_APIPort" address="http://localhost:8888/ODOOServices" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7f381531-543a-4c3b-9b88-dadb66e7b5d9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="twoFlow" doc:id="e08a6fe2-4be0-440f-bb04-b37509098ba1" >
		<http:listener doc:name="Listener" doc:id="1217ef52-4831-4484-a61d-a49deb4a2520" config-ref="HTTP_Listener_config" path="/henk">
			<http:response>
				<http:body ><![CDATA[#[output application/json
---
payload]]]></http:body>
			</http:response>
		</http:listener>
		<set-variable value="#[payload]" doc:name="initData" doc:id="8464fd19-9c3f-4e04-b9b6-4c7088a5a54e" variableName="initData"/>
		<wsc:consume operation="setConnection" doc:name="setConnection" doc:id="827833c0-892b-40fb-a97a-bda934a1d96f" config-ref="Web_Service_Consumer_Config" target="connected" targetValue="#[payload.body.setConnectionResponse.return]">
			<wsc:message >
				<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns con http://odoo_api.java.main/
---
{
	con#setConnection: {
		url: payload.url,
		database: payload.database,
		username: payload.username,
		password: payload.password
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<wsc:consume doc:name="getPartnerID" doc:id="f438be99-447b-40e0-9a78-0f943932042a" config-ref="Web_Service_Consumer_Config" operation="getPartnerID" target="partnerID" targetValue="#[payload.body.getPartnerIDResponse.return]">
			<wsc:message>
				<wsc:body><![CDATA[#[%dw 2.0
output application/xml
ns con http://odoo_api.java.main/
---
{
	con#getPartnerID: {
		partnerNaam: vars.initData.partnerNaam
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<wsc:consume doc:name="getProductID" doc:id="a6f55bb2-dab2-4cf8-b94c-ab5d31bace6f" config-ref="Web_Service_Consumer_Config" operation="getProductID" target="productID" targetValue="#[payload.body.getProductIDResponse.return]">
			<wsc:message>
				<wsc:body><![CDATA[#[%dw 2.0
output application/xml
ns con http://odoo_api.java.main/
---
{
	con#getProductID: {
		productNaam: vars.initData.productNaam
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<wsc:consume doc:name="createOrder" doc:id="61ab50dd-8151-4b14-8b5e-062a32cf800f" config-ref="Web_Service_Consumer_Config" operation="createSalesOrder" target="orderID" targetValue="#[payload.body.createSalesOrderResponse.return]">
			<wsc:message>
				<wsc:body><![CDATA[#[%dw 2.0
output application/xml
ns con http://odoo_api.java.main/
---
{
	con#createSalesOrder: {
		salesorderObject: {
			naam: vars.initData.productNaam,
			partnerID: vars.partnerID,
			origin: vars.initData.username
		}
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<wsc:consume doc:name="createOrderLine" doc:id="af697392-9405-4080-a3aa-1fddac88cdf7" config-ref="Web_Service_Consumer_Config" operation="createSalesOrderLine" target="orderLineID" targetValue="#[payload.body.createSalesOrderLineResponse.return]">
			<wsc:message >
				<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns con http://odoo_api.java.main/
---
{
	con#createSalesOrderLine: {
		salesorderlineObject: {
			orderID: vars.orderID,
			productID: vars.productID
		}
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<set-payload value='#[%dw 2.0
output application/json
--- 
if (!vars.connected)
	{ msg: "Connection failed" }
else if (vars.partnerID as Number == -1 as Number)
	{ msg: "Partner ID not found" }
else if (vars.productID as Number == -1 as Number) 
	{ msg: "Product ID not found" }
else if (vars.orderID as Number == -1 as Number)
	{ msg: "Order could not be created" }
else if (vars.orderLineID as Number == -1 as Number)
	{ msg: "Order line could not be created" } 
else 
	{ msg: "Order placed succesfully with orderID " ++ vars.orderID as String ++ " and orderLineID " ++ vars.orderLineID as String }]' doc:name="Set Payload" doc:id="719a9508-afc3-4b56-b44b-5dde8da68b24" />
	</flow>
</mule>
