EAIOpdracht3/opdracht_3_final/src/main/mule/opdracht_3_timeserver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dd4285bc-2473-40f6-848f-7ce6fcc8fead">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c509a0d1-9c62-48eb-9070-9d039f6b170e" >
		<http:request-connection host="localhost" port="5002" usePersistentConnections="false" />
	</http:request-config>
	<jms:config name="JMS_Config">
 <jms:active-mq-connection >
  <jms:factory-configuration brokerUrl="tcp://localhost:61616" />
 </jms:active-mq-connection>
</jms:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="036a775c-ad28-4edd-bf1e-53906bf3a23a" >
		<file:connection/>
	</file:config>
	<flow name="TimeServer_XML_or_JSON" doc:id="5e0c8b6b-82bc-4d82-ae3d-03e7999477f2" >
		<http:listener doc:name="Listener" doc:id="9b961485-54bd-40f7-9b61-1fae52d1d8d6" config-ref="HTTP_Listener_config" path="TijdServer"/>
		<set-variable value="#[attributes.queryParams.responseType]" doc:name="Set Variable" doc:id="3d703b43-c238-489c-b12b-fcd3da2796bf" variableName="requestType"/>
		<http:request method="GET" doc:name="Request" doc:id="39e2594b-2572-4a8d-91d3-6068ca239b15" config-ref="HTTP_Request_configuration" path="/TimeServer"/>
		<choice doc:name="Choice" doc:id="c091f81c-f1c6-4049-85af-043136cea345" >
			<when expression="#[vars.requestType == 'XML']">
				<ee:transform doc:name="Transform Message" doc:id="8195aaf9-a041-4a84-8063-4151a6104bfb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	Tijd: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
		</choice>
	</flow>
	<flow name="BUS_XML_to_JSON" doc:id="6c7a350d-44d4-47bb-b4be-7d6e893ea950" >
		<jms:listener doc:name="Listener" doc:id="07b12d5f-baec-456f-a1b4-e7af90f4013f" config-ref="JMS_Config" destination="busQueue" ackMode="AUTO">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="Transform Message" doc:id="f45536e5-bc8d-4d60-a721-bd1bab0a3fab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output application/xml
---

read(payload, 'application/xml')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="ffc9490a-0fe3-4df1-aae8-56674d21cba3" name="BUS_LOGGER"/>
		<foreach doc:name="For Each" doc:id="32d8b845-e19c-4f31-a215-a1507b0981fa" collection="#[payload.Bericht.ETAs]" rootMessageVariableName="Single_ETA">
			<ee:transform doc:name="Transform Message" doc:id="65e3fd89-f162-4394-9d80-aa32e106f00b" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	tijd: vars.Single_ETA.payload.Bericht.tijd,
	aankomsttijd: vars.Single_ETA.payload.Bericht.ETAs.ETA.aankomsttijd,
	lijnNaam: vars.Single_ETA.payload.Bericht.lijnNaam,
	busID: vars.Single_ETA.payload.Bericht.busID,
	bedrijf: vars.Single_ETA.payload.Bericht.bedrijf,
	eindpunt: vars.Single_ETA.payload.Bericht.eindpunt
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<jms:publish doc:name="Publish" doc:id="2283d084-337b-4605-be9b-1892843261d9" config-ref="JMS_Config" destination='#[("Halte_" ++ vars.Single_ETA.payload.Bericht.ETAs.ETA.halteNaam)]' destinationType="TOPIC"/>
		</foreach>
	</flow>
	<sub-flow name="BUS_LOGGER" doc:id="d1593ec3-8f61-4a8e-9c19-7278a5ee530a" >
		<choice doc:name="Choice" doc:id="bec88eed-505e-408d-a9bc-a50d2261252e" >
			<when expression='#[payload.Bericht.bedrijf == "ARRIVA"]'>
				<jms:publish doc:name="Publish_ARRIVALOG" doc:id="ff460927-c1e6-441f-ae3b-db05f541a9e2" config-ref="JMS_Config" destination="ARRIVALOGGER"/>
			</when>
			<when expression='#[payload.Bericht.bedrijf == "FLIXBUS"]'>
				<file:write doc:name="Write_log" doc:id="8b7bfca7-dd6d-4333-8c89-c1b8709a28d0" config-ref="File_Config" path="D:\Documents\Personal\Projects\Programming\EAI\EAI_Y4P2\EAIOpdracht3\FLIXBUS_LOGS\FLIXBUS_LOGS.txt" mode="APPEND">
					<file:content ><![CDATA[#[%dw 2.0

output application/xml
---
{
	FLIXBUS_LOG: payload
}]]]></file:content>
				</file:write>
			</when>
			<when expression='#[payload.Bericht.bedrijf == "QBUZZ"]'>
				<logger level="INFO" doc:name="QBUZZ database log placeholder" doc:id="ca0b335f-f089-41db-ae1c-933df9a9bec0" message="QBUZZ database log goes here"/>
			</when>
			<otherwise >
				<logger level="WARN" doc:name="Logger" doc:id="a17de097-43b8-4eb6-bbd1-59b834c88e27" message="Onbekend busbedrijf in de logger"/>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
